
@{
    ViewBag.Title = "Add movie";
}

<h2>AddMovie</h2>

<form id="addMovieForm">

    <p>Title:</p>  <input type="text" id="title" />
    <p>Rating:</p>    <input type="text" id="rating" />
    <p>Language:</p>    <input type="text" id="language" />
    <p>Minutes:</p>    <input type="text" id="minutes" />
    <p>Producer:</p>    <input type="text" id="producer" />
    <p>Description:</p>    <input type="text" id="description" />
    <p>Genre:</p>    <input type="text" id="genre" />
    <input type="file" name="photo" id="files">
    <button id="addMovieButton">Add movie</button>
</form>

@section Scripts {
    <script>
        $("#addMovieButton").click(function (e) {
            e.preventDefault();
            var file = document.getElementById('files').files[0];
            var filenameExtension = file.name.split('.').pop();
            var allowedPictureFormats = ['jpeg','gif','bmp','png','jpg'];

            if (!allowedPictureFormats.includes(filenameExtension)) {
                alert("Invalid file format: " + filenameExtension)
                return;
            }
            var fd = new FormData();

            fd.append("files", file);
            fd.append("title", $('#title').val());
            fd.append("rating", $('#rating').val());
            fd.append("language", $('#language').val());
            fd.append("minutes", $('#minutes').val());
            fd.append("producer", $('#producer').val());
            fd.append("description", $('#description').val());
            fd.append("genre", $('#genre').val());

            $.ajax({
                url: "@Url.Action("AddMovie","Movie")",
                type: 'POST',
                processData: false,
                contentType: false,
                data: fd,
                success: successCallback,
                error: errorCallback
            })
        })

        function errorCallback() {
            alert("error");
        }
        function successCallback() {
            alert("success");
            $("input:text").val('');
        }
    </script>
}