
@{
    ViewBag.Title = "Manager Panel";
}

@if (!Model.IsAdmin)
{
    <h2>You don't have privileges to be here!</h2>
    return;
}

<h2>Manager panel</h2>
<hr />
<h4 style="text-align:center;">
    This is a page only for administrators! It gives you the ability to add/delete movies or create projections etc.
    If any problems arise, please contact the support for help.
</h4><hr />
<div class="row">
    <div class="col-md-4">
        <p style="text-align:center;"><a href="@Url.Action("AddMovie","Movie")" class="btn btn-primary btn-lg">Movie manager</a></p>

    </div>
    <div class="col-md-4">
        <p style="text-align:center;"><a href="@Url.Action("CreateProjection","Projection")" class="btn btn-primary btn-lg">Projection manager</a></p>

    </div>
    <div class="col-md-4">
        <p style="text-align:center;"><a href="@Url.Action("Index","Hall")" class="btn btn-primary btn-lg">Hall manager</a></p>

    </div>
</div>


