
@{
    ViewBag.Title = "Movie Panel";
}

@if (!Model.IsAdmin)
{
    <h2>You don't have privileges to be here!</h2>
    <hr />
    return;
}

<h2>Manage movies panel</h2>
<hr />

    <p><a href="@Url.Action("AddMovie","Movie")" class="btn btn-primary btn-lg">Add movie to database &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg">Remove movie from database &raquo;</a></p>


