@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<hr />

<h4>This web application is a tool for managing the movie database of Cinema World. Here you can sell tickets to customers, add movies and delete them from our system.
    </h4><hr />

<p>You can start by viewing the program which shows the currently run movies. Simply click "<kbd>Movie program</kbd>" navigation link or "<kbd>Continue to program</kbd>".
There is also a manager panel for administrators only. There movies can be logged into the database and projections created for them.</p>
<p>After selecting the desired from the customer movie, you can specify the tickets type and count and continue to seat selection. There you will see
    a table of available and occupied seats. The colors will indicate their state. By pressing the confirm seats button a page will be shown with the generated
    visual condition with the ability to be printed and given to the client.</p>
