@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cinema world</h1>
    <p class="lead">Cinema world is a web application created for selling tickets to our customers.</p>
    <p><a href="Movie/Index" class="btn btn-primary btn-lg">Continue to program &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IMDB: The largest movie database</h2>
        <p>Browse this website to find information about every movie that comes on your mind. See which film is airing soon.</p>
        <p><a class="btn btn-default" target="_blank" href="http://www.imdb.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>