@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cinema world</h1>
    <p class="lead">Cinema world is a web application created for selling tickets to our customers.</p>
    <p><a href="Movie/Index" class="btn btn-primary btn-lg">Continue to program &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            This web application is a tool for managing the movie database of Cinema World. Here you can sell tickets to customers, add movies and delete them from our
            system.
        </p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>IMDB: The largest movie database</h2>
        <p>Browse this website to find information about every movie that comes on your mind. See which film is airing soon.</p>
        <p><a class="btn btn-default" target="_blank" href="http://www.imdb.com">Learn more &raquo;</a></p>
    </div>
</div>